<!-- <!DOCTYPE html>
<html>


  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">CCTV</h3>
                <a href="/video_feed">start</a>
            </div>
        </div>
    </div>
    </body>


</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/b6f08bb760.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>God's Eye Home</title>
    <link rel="stylesheet"  href= "{{ url_for('static',filename='css/style.css') }}">
    
</head>
<body>
    <nav>
        <div><h1>God,s eye</h1></div>
        <div class="nav-links">
            <a href="/login" target="_blank">Police</a>
            <a href="/user" target="_blank">User</a>
            <a href="/video_feed" target="_blank">CCTV</a>
        </div>
        
    </nav>
    <div>
        <div class= "life">
            
            
            <video autoplay muted loop id="myVideo">
                <source src="{{ url_for('static',filename='img/bgvdo.mp4') }}" type="video/mp4"> 
            </video>
            
            
        </div> 
    </div>

</div>

</body>
</html>