<!-- <!DOCTYPE html>
<html>


  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">CCTV</h3>
                <a href="/video_feed">start</a>
            </div>
        </div>
    </div>
    </body>


</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>God's Eye Home</title>
    <link rel="stylesheet"  href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    
        <nav class="navbar">  

            <div class="title">
                <h1>God's Eye</h1>
            </div>
            
             <ul>

                <li><a class="active" href="/">Home</a><li>
                    <!-- <li><a href="casereg.html">Case </a><li> -->
                <li><a href="/login">Police Login</a></li>
                <!-- <li><a href="contactus.html">About</a><li> -->
                    <li><a href="/video_feed" target="_blank">CCTV</a></li>
                
                 </ul>
    
       
                </nav>
                <div class= "life">
                    
                       <video autoplay muted loop id="myVideo">
                  <source src="{{ url_for('static',filename='img/bgvdo.mp4') }}" type="video/mp4">
                    </video>
                </div> 

        </div>
        </div>
    </div>

</div>

</body>
</html>