*{
    padding: 0;
    margin: 0;
}

.container{
 background-color:#060227;
width: 100%;
min-height: 100vh;

}
.police-nav{
    background-color: #00021d;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.p-title p{
    color: white;
    margin-left: 25%;
    width: 100%;
    font-size: 1.2em;
}
.nav-links{
    color: white;
    display: flex;
    margin-right: 5%;
    align-items: center;
    
    
}
.nav-links a{
    padding-left: 25%;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9em;
}
a:hover{
    color: red;
}

#logout{

}
table{
    padding-bottom: 5%;
}

.details{
    color: white;
    width: 90%;
    margin-top: 2.5%;
}
th{
    border: 1px solid white;
    text-align: center;
    padding: 3%;
}

td{
    text-align: center;
    padding: 2%;
    border: 1px solid white;
}

.train_msg{
    color: red;
    margin-top: 5%;
}
