
*{
    padding:0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    outline: none;
    color:  #ffffff;
}
section{
   position: absolute;
   height: 100%;
   width:100%;
   background:url(blud.jpeg);
   background-size: cover;
   background-position: center;
   filter:blur(2px) brightness(30%);
}

body
{
	font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color: #008080;
  
}

header {
	background:#4682b4;
  color:#ffffff;
  padding-top:0px;
  min-height:50px;
  border-bottom:red 3px solid;
}
#container{
  width:80%;
  margin:auto;
  overflow:hidden;
}
#container img
{
	width:10%;
	min-height: 10px
}
#navbar
{
  height: 100px;
  width: 100%;
  background: rgba(0,0,0,1);
}
#navbar ul{
  float:right;
  margin-right: 20px
}
#navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px
}
#navbar ul li a{
  text-decoration: none;
  color:white;
  font-size: 20px;
   padding: 6px 13px;
  font-family: 'Roboto',sans-serif;
  transform: .4s;
}
#navbar ul li a.active,
#navbar ul li a:hover{
  background: red;
  border-radius: 2px;

}


#form
{   
  
    display: block;
    text-align: center;

}
form
{
    width: 360px;
    min-height: 200px;
    background: #000;
    box-shadow: 0 0 8px rgba(250,250,250,0.6);
    opacity: 0.6;
    display: inline-block;
    margin-left: center;
    margin-top:4cm;
    text-align: center;
    padding: 25px 20px;
}
form #id{
  position: relative;
}
form input{
  width: 100%;
  height: 50px;
  margin: 4px;
  border: 1px solid #5c5c5c;
  border-radius: 3px;
  background:#181717;
  padding: 0 15px;
  padding-right: 45px;
  font-size:  20px

}
form textarea{
  padding: 5px 15px ;
  border: 1px solid #5c5c5c;
  border-radius: 3px;
  background:#181717;
  font-size:  20px;
  width:100%;
}
form button{
  margin-top: 5px;
  border: none;
  background: #00fff0;
  color: #222;
  padding: 10px 0;
  width: 100%;
  font-size: 20px;
  font-weight: 800;
  cursor:pointer;
  border-radius: 3px;


}
#footer{
 
  color:white;
  background-color:#181514;
  font-weight: bold;
  text-align: center;
}