<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/policehome.css') }}">
    <title>Admin portal</title>
</head>
<body>
    <div class="container">
        <nav class="police-nav">
            <div class="p-title">
                <p>God's eye</p>
            </div>
            <div class="nav-links">
                <!-- <a href="/results">Results</a> -->
                <a href="/userupload">Useruploads</a>
                <a href="/results">Results</a>
            </div>
            <div class="nav-links">
               
                <a href="/adminlogout" id="logout">Logout</a>
            </div>
        </nav>
      <div>
       <center>
            <div class="train_msg">
                {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
            </div>

           <table class="details"> 
               <thead> 
            <tr> 
                 
                <th>Name</th>
                <th>Mobile</th>
                <th>Location</th>
                <th>Date</th>
                <th>Age</th> 
            </tr> 
            </thead> 
            <tbody> 
                {% for row in value %}  
                <tr> 
                        
                        <td> {{row[1]}}</td> 
                        
                        <td>{{row[2]}}</td>
                        <td>{{row[6]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td> 
                    </tr> 
                {% endfor %} 
            </tbody> 
        </table> 
    </center>   
      </div>  

    </div>
</body>
</html>