<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login portal</title>
</head>
<body>
    <div class="container">
        <div class="column">        
            <form method="post" action="/login" enctype="multipart/form-data">
                <dl>

        <p>
            <input type="text" name="police_id" class="form-control" placeholder="Police id" autocomplete="off" required>
            <input type="text" name="p_name" class="form-control" placeholder="Full name" required>
            <input type="password" name="password" class="form-control" placeholder="Password" required>


        </p>
    </dl>
    <p>
        <input type="submit" value="Submit" class="btn btn-info">
    </p>
</form>
</div>

</div>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Police login portal</title>
  <link rel="stylesheet" href="css/style1.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style2.css') }}">  
</head>
<body class="life">

<div class="login-box">
    <h1>Police Login</h1>
    
    <form action="/login" method="post">
    <div class="text-box">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" name="police_id" value="" placeholder="Police id" required>

    </div>
    <div class="text-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" name="p_name" value="" placeholder="Police name" required>
    
        </div>
    <div class="text-box">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" name="password" value="" placeholder="Password" required>
        
    </div>
    <input class="btn" type="submit" value="Login">
    
</form>

<button class="btn"><a href ="/register">Register</a></button>
                

</body>
</html>